

/*General Styles ----------------------------------------------------------------------------------------------*/

body { padding: 0; margin: 0; overflow-x: hidden; }
	.wrapper { height: 3280px; overflow: hidden; display: grid; grid-template-areas: "nav" "main" "section" "footer"; 
		grid-template-rows: 2% 25% 68% 5%; font-family: 'Quicksand', sans-serif;}
		.navegacao { grid-area: nav; display: flex; justify-content: space-between;
					background: tomato; }
		.navegacao a { color: #fff; }
			.marca { margin-top: 1em; font-size: 1.5em; font-weight: bold;}
			.marca a { margin-left: 1em; text-decoration: none;}
			.itens-navegacao { margin-top: 1em; }
			.itens-navegacao-lista { display: flex; font-weight: bold; ;}
			.itens-navegacao-lista li { margin-right: 2em; list-style: none; }
			.itens-navegacao-lista li a { text-decoration: none; }
			.midias-sociais { position: relative; right: 20em; margin-right: 1em; margin-top: 1em; }
			.midias-sociais a { margin-right: 1em; }
		.destaque { grid-area: main; background: url('../img/compras0.jpg')no-repeat center/cover;
					clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0); }
		.destaque:before { content: ''; position: absolute; top: 0; left: 0; width: 100%;
					height: 100%;  }
					.destaque-detalhes { position: relative; left: 45%; top: 20%; 
						color: tomato; font-family: 'Quicksand', sans-serif; 
						font-weight: bold;}
					.destaque-detalhes span { font-size: 2.5em; }
					.destaque-detalhes p { position: relative; left: 1em; font-size: 0.8em; }
		.conteudo { grid-area: section; }
			.secao-produto { display: flex; height: 25%; margin: 13em 0 0 5em; }
				.secao-produto img { height: 40%; border-radius: 50%; }
				.secao-produto-detalhes span { font-size: 4em; color: tomato; position: relative;
					bottom: 1em; }
				.secao-produto-detalhes p {width: 70%; margin: 3em 10em 0 1em; position: relative;
					bottom: 4em; }
				.btn-cta { background: tomato; color: #fff; font-size: 1.5em; font-weight: bold; 
					border: none; padding: 1em; position: relative; left: 10em;
					cursor: pointer; border-radius: 50px; }

			.secao-validacao { height: 37%; background: tomato; color: #fff; }
			.secao-validacao img { margin-bottom: 1em; }
			.secao-cartao { display: flex; }
				.cartao { margin-top: 2em; text-align: center; font-size: 1.5em; }
				.cartao1 { width: 25%; position: relative; left: 1em; top: 5em; }
				.cartao2 { width: 25%; position: relative; left: 3em; top: 5em;}
				.cartao3 { width: 25%; position: relative; left: 6em; top: 5em;}
				.btn-loja { background: #fff; margin-top: 1em; padding: 1em; font-size: 0.8em; 
							border: none; border-radius: 50px; color: tomato; }
				.titulo-principal { position: relative; left: 35%; top: 2em; }
			.secao-depoimento { display: flex; height: 38%; background: #fff; 
								justify-content: center; }
			.titulo-cliente { color: tomato; position: relative; left: 35%; top: 2em;}
				.secao-cliente { display: flex; }
				.cliente { margin: 4em; }
				.cliente1 { width: 25%; position: relative; right: 20em; top: 5em; }
				.cliente2 { width: 25%; position: relative; right: 15em; top: 5em;}
				.cliente3 { width: 25%; position: relative; right: 11em;top: 5em;}
				.cliente img { width: 300px; border-radius: 50%; }
				.cliente p { margin-top: 2em; text-align: center; font-size: 1.5em; color: #000;}
				.cliente span { color: tomato; font-weight: 800; text-align: left; }
		footer p { position: relative; top: 2em; left: 2em; font-size: 1.5em; color: #fff;}
		.rodape { grid-area: footer; background: tomato; }
/*End of general styles --------------------------------------------------------------------------------------*/





/*Breakpoints ------------------------------------------------------------------------------------------------*/

@media (max-width: 420px) {

}

@media (min-width: 421px) and (max-width: 720px) {

}

@media (min-width: 721px) and (max-width: 920px) {

}