@media (max-width: 952px) {
	.marca { position: relative; right: 100px; }

	.checkbtn { display: block; left: 330px; }

	.navegacao { position: fixed; z-index: 9999; }

	


	 .destaque { grid-area: main; background: url('../img/compras0_fit.jpg')no-repeat;
}